form{

    background-color: rgb(215, 197, 197);
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
input{
    /* margin-top:20px ; */
    padding: 10px;
    border-radius:10px ;
}
label{
    margin-bottom:10px ;
   
}

.container-email{
    margin-bottom:20px ;
}

.container-pass{
    margin-bottom:20px ;
}
button{
    margin-top: 5px;
    width: 100%;
    padding:5px ;
    background-color: blue;
    color: aliceblue;
}