
h1 {
    background-color: antiquewhite;
    text-align: center;
    color: aquamarine;
}
#item1{
   color: cadetblue;
}
#item2{
    color: yellow;
}
 #item3{
    color: rgb(235, 169, 180);
 }






