*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    color: red;

}
.box{
    background-color: rgb(132, 153, 153);
    border-radius: 9%;
    border: 1px solid ;
    width: 25%;
    
}
.component {
    background-color: rgb(132, 153, 153);
    width: 25%;
    border-radius: 9%;
    border: 1px solid ;

}
