h1{
    text-align: center;
    color: rgb(228, 240, 240);
    

}
.HAC{
    text-align: center;
    color: aliceblue;
    text-decoration: none
}
.title{
    background-color: rgb(31, 10, 228);
    
}
img{
    border-radius: 250px;
    margin: 10px;
    
}
.ncpy{
    text-align: center;
    background-color: beige;
    padding: 50px;
}
