.header {
  width: 100%;
  height: fit-content;
  padding-top: 32px;
  margin-bottom: 24px;
}

.header .list-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 24px;
  margin-bottom: 20px;
}

.header .head-update {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.header .head-update p {
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  padding-bottom: 23px;
}

.head-update .btn-update {
  padding-bottom: 23px;
}

.head-update .btn-cancel {
  height: 40px;
  width: 59px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background-color: white;
  cursor: pointer;
}

.btn-cancel:hover {
  background-color: rgb(194, 194, 194);
}
#btn-review {
  height: 40px;
  width: 181px;
  border-radius: 8px;
  margin-left: 12px;
  border: 1px solid #d0d5dd;
  background-color: white;
}
.head-update .btn-save {
  background-color: #039855;
  color: white;
  border: 1px solid transparent;
  height: 40px;
  width: 120px;
  border-radius: 8px;
  margin-left: 12px;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #07693d;
}

.diven {
  border: 1px solid #d0d5dd;
  margin-left: 24px;
  margin-right: 24px;
}

.main {
  display: flex;
  padding: 24px;
}

.main .sidebar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.main .main-content {
  flex: 5;
}

.sidebar a {
  color: #667085;
  text-decoration: none;
  height: 38px;
  padding: 8px 0px 8px 12px;
}

.sidebar .block-link div {
  border-radius: 50%;
  background-color: #f2f4f7;
  width: 24px;
  height: 22px;
  text-align: center;
}

.main .sidebar .active {
  color: #932f08;
  background-color: #fff1eb;
  font-weight: 500;
  width: 200px;
  border-radius: 8px;
  height: 36px;
  padding: 8px 0px 8px 12px;
}

.sidebar .block-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #344054;
}

.main-content {
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 8px;
}

.main-content .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
  margin-bottom: 24px;
}

.main-content img {
  height: 176px;
  width: 528px;
  margin-bottom: 24px;
}

.main-content .block-info-name label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}

.main-content .block-info-name input {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  margin-bottom: 24px;
  padding-left: 14px;
}

.main-content .block-info {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.block-info .info-son {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 6px;
}

.block-info .info-son label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}

.block-info .info-son input {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  height: 44px;
  padding-left: 14px;
}

.main-content .select-info {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  height: 44px;
  padding-left: 14px;
}

.main-content .info-job {
  display: flex;
  flex-direction: column;
  width: 528px;
  gap: 6px;
}

.main-content .info-job label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}

.main-content .info-job select {
  width: 528px;
  border: 1px solid #d0d5dd;
  height: 44px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.info-describe {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 24px;
}

.main-content .info-describe label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}

.main-content .info-describe input {
  height: 128px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
}

#box-skill {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 24px;

}

#content-skill {
  height: 44px;
  margin: 0 32px;
  border: 1px solid#D0D5DD;
  background-color: #ffffff;
  border-radius: 8px;
}
#add-skill-course {
  margin: 0 32px;
  width: fit-content;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid#D0D5DD;
  border-radius: 8px;
}
#box-price{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
#price-course {
  height: 44px;
  border: 1px solid#D0D5DD;
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
}
